html, body {
  height: 100%;
  width: 100%;
  background-color : burlywood;
  background-position : relative;
}

.container{
  margin-left : 300px;
  margin-top : 100px;
  background-color : black;
  color : white;
  width : 50%;
  height : 70%;
  border-radius : 20px;
}

h1{
  color : white;
  font-weight : bolder;
  font-size : 40px;
  text-align : center;
  font-family : 'Time New Roman' , Times , serif;
  padding-top : 15px;
}

input[type=text]{
  width : 80%;
  margin-left : 20px;
  margin-right : 10px;
  font-size : 23px;
  height : 28px;
  border-radius : 10px;
}

input[type=text]::placeholder{
  font-size : 15px;
  padding-left : 5px;
}

input[type=button]{
  width : 75px;
  height : 33px;
  font-weight : bolder;
  color : white;
  background-color : blue;
  border-radius: 5px;
}

input[type=button]:hover
{
  background-color : red;
  color : white;
  border : 2px solid black;
}
ul{
  font-size : 30px;
  color : white;  
}
